@model GraniteHouse.ViewModel.AppointmentsDetailsVM
@using GraniteHouse.Extensions
@using GraniteHouse.Utility
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Appointment Details</h2>
<br />
<hr />
<div class="p-4 border rounded row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-6">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="appointments.CustomerName"></label>
            </div>
            <div class="col-8">
                <input asp-for="appointments.CustomerName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="appointments.CustomerEmail"></label>
            </div>
            <div class="col-8">
                <input asp-for="appointments.CustomerEmail" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="appointments.AppointmentDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="appointments.AppointmentDate" disabled readonly id="AppDate" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="appointments.AppointmentTime"></label>
            </div>
            <div class="col-8">
                <input asp-for="appointments.AppointmentTime" disabled readonly id="AppTime" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="appointments.CustomerPhone"></label>
            </div>
            <div class="col-8">
                <input asp-for="appointments.CustomerPhone" disabled readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="appointments.SalesPerson"></label>
            </div>
            <div class="col-8">
                @if (User.IsInRole(SD.AdminUser))
                {
                    <input asp-for="appointments.SalesPerson.Name" disabled readonly class="form-control" />
                    <input asp-for="appointments.SalesPersonID" disabled readonly class="form-control" />
                }
                else
                {
                    <select asp-for="@Model.appointments.SalesPersonID" asp-items="Model.lstUsers.selectListItemsToString(Model.appointments.SalesPersonID)" disabled class="form-control">
                        <option val=""></option>
                    </select>
                }
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="appointments.Confirmed"></label>
            </div>
            <div class="col-8">
                <input asp-for="appointments.Confirmed" disabled />
            </div>
        </div>

    </div>
    <div class="col-6">
        <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.lstproducts" />
    </div>

    <br />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" asp-route-id="@Model.appointments.Id" value="Update" />
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var appointmentTime = $('#AppDate').val();
            var split = "";
            if (appointmentTime.indexOf(" ") > 0) {
                split = appointmentTime.split(" ");
            }
            else {
                split = appointmentTime.split("T");
            }
            var time = split[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);
            }

            var ampmTime = split[2];
            $('#AppDate').attr('Value', split[0]);
            $('#AppTime').attr('Value', time + ' ' + ampmTime);
        })
    </script>
}