@model IEnumerable<GraniteHouse.Models.SpecialTags>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Tags List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Tag</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(x => x.Name)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var i in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => i.Name)
                </td>
                <td>
                    <partial name="_TableButtons" model="i.Id" />
                </td>
            </tr>
        }
    </table>
</div>
