@model GraniteHouse.ViewModel.ProductsVM
@using GraniteHouse.Extensions
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Edit Product</h2>
<br />
<hr />
<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input hidden asp-for="products.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="products.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="products.Name" class="form-control" />
                </div>
                <span asp-validation-for="products.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="products.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="products.Price" class="form-control" />
                </div>
                <span asp-validation-for="products.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="products.Image"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="products.Image" class="form-control" />*@
                    <input type="file" name="imgFiles" class="form-control" />
                </div>
                @*<span asp-validation-for="products.Image" class="text-danger"></span>*@
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypes"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="ProductTypes" class="form-control" />*@
                    <select asp-for="@Model.products.ProductTypeId" asp-items="Model.ProductTypes.selectListItems(Model.products.ProductTypeId)" class="form-control">
                        <option val=""></option>
                    </select>
                </div>
                @*<span asp-validation-for="ProductTypes" class="text-danger"></span>*@
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="specialTags"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="specialTags" class="form-control" />*@
                    <select asp-for="@Model.products.SpecialTagId" asp-items="Model.specialTags.selectListItems(Model.products.SpecialTagId)" class="form-control">
                        <option val=""></option>
                    </select>
                </div>
                @*<span asp-validation-for="specialTags" class="text-danger"></span>*@
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="products.ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="products.ProductColor" class="form-control" />
                </div>
                <span asp-validation-for="products.ProductColor" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="products.Available"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="products.Available" />
                </div>
                @*<span asp-validation-for="products.Name" class="text-danger"></span>*@
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.products.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-warning">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
